.dub
docs.json
__dummy.html
docs/
**/gifpauser
**/gifpauser.so
**/gifpauser.dylib
**/gifpauser.dll
**/gifpauser.a
**/gifpauser.lib
**/gifpauser-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.so.*
*.so
resources
